{% extends 'base.html' %}

{% block content %}
{% include 'navbar4.html' %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <title>Create Podcast</title>
  <style>
    body {
        background-color: rgb(247, 231, 206);
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-center mb-4">CREATE PODCAST</h4>
            <form method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="podcastTitle">Judul:</label>
                <input type="text" class="form-control" id="podcastTitle" name="title" placeholder="Enter title">
              </div>
              <div class="form-group">
                <label for="podcastGenre">Genre:</label>
                <div id="podcastGenre">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="classical" value="classical">
                    <label class="form-check-label" for="classical">Classical</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="reggae" value="reggae">
                    <label class="form-check-label" for="reggae">Reggae</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="electronic" value="electronic">
                    <label class="form-check-label" for="electronic">Electronic</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="jazz" value="jazz">
                    <label class="form-check-label" for="jazz">Jazz</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="country" value="country">
                    <label class="form-check-label" for="country">Country</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="blues" value="blues">
                    <label class="form-check-label" for="blues">Blues</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="pop" value="pop">
                    <label class="form-check-label" for="pop">Pop</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="rock" value="rock">
                    <label class="form-check-label" for="rock">Rock</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="rb" value="R&B">
                    <label class="form-check-label" for="rb">R&B</label>
                  </div>
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="genres" id="hiphop" value="hip-hop">
                    <label class="form-check-label" for="hiphop">Hip-hop</label>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="podcastDuration">Durasi (minutes):</label>
                <input type="number" class="form-control" id="podcastDuration" name="duration" placeholder="Enter duration">
              </div>
              <div class="text-center">
                <button type="submit" class="btn btn-primary">SUBMIT</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock content %}
