{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<style>
    body {
        background-color: rgb(247, 231, 206);
    }

    .background-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }

    #progressSlider {
        width: 100%;
        margin-top: 20px;
    }

    .btn-toolbar {
        margin-bottom: 10px;
    }

    .centered-text {
        text-align: center;
    }
</style>

<div class="container background-container mt-4">
    <h1 class="mb-3 centered-text">Song Detail</h1>
    <div class="song-detail">
        <b style="display: inline-block; margin-right: 5px;">Judul:</b><p style="display: inline;">{{ judul }}</p><br>
        <b>Genre(s):</b>
        <ul>
            {% for genre in genres %}
                <li>{{ genre }}</li>
            {% endfor %}
        </ul>
        <b style="display: inline-block; margin-right: 5px;">Artist:</b><p style="display: inline;">{{ artist }}</p><br>
        <b>Songwriter(s):</b>
        <ul>
            {% for songwriter in songwriters %}
                <li>{{ songwriter }}</li>
            {% endfor %}
        </ul>
        <b style="display: inline-block; margin-right: 5px;">Durasi:</b><p style="display: inline;">{{ durasi }} menit</p><br>
        <b style="display: inline-block; margin-right: 5px;">Tanggal Rilis:</b><p style="display: inline;">{{ tanggal_rilis|date:"d/m/y" }}</p><br>
        <b style="display: inline-block; margin-right: 5px;">Tahun:</b><p style="display: inline;">{{ tahun }}</p><br>
        <b style="display: inline-block; margin-right: 5px;">Total Play:</b><p style="display: inline;">{{ total_play }}</p><br>
        <b style="display: inline-block; margin-right: 5px;">Total Downloads:</b><p style="display: inline;">{{ total_downloads }}</p><br>
        <b style="display: inline-block; margin-right: 5px;">Album:</b><p style="display: inline;">{{ album }}</p><br>
        <hr>
        <div>
            <input type="range" id="progressSlider" min="0" max="100" step="1" value="0" oninput="updateProgressField()">
            <input type="number" id="progressField" min="0" max="100" step="1" value="0" oninput="updateProgressSlider()">
        </div>                            
    </div>
    <div class="text-center">
         <div class="btn-toolbar justify-content-center" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button class="btn btn-primary btn-action" onclick="submitProgressForm()">Play</button>
            </div>
        </div>
        <div class="btn-toolbar justify-content-center" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button class="btn btn-info btn-action" id="downloadBtn" onclick="downloadSong()">Download</button>
            </div>
        </div>
        <div class="btn-toolbar justify-content-center" role="toolbar">
            <div class="btn-group mr-2" role="group">
                <button class="btn btn-success btn-action" onclick="openAddToPlaylistModal()">Add to Playlist</button>
            </div>
        </div>
        <div class="btn-toolbar justify-content-center" role="toolbar">
            <button class="btn btn-secondary btn-action" onclick="goBack()">Kembali</button>
        </div>
    </div> 
    <form id="progressForm" method="post" action="{% url 'play_song:update_song_progress' id_song %}">
        {% csrf_token %}
        <input type="hidden" name="progress" id="hiddenProgressField" value="0">
    </form>
</div>

<div class="modal fade" id="addToPlaylistModal" tabindex="-1" role="dialog" aria-labelledby="addToPlaylistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addToPlaylistModalLabel">ADD SONG TO USER PLAYLIST</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Judul: Song1</p>
                <p>Artist: Artist1</p>
                <form id="addToPlaylistForm">
                    <div class="form-group">
                        <label for="playlistSelect">Playlist:</label>
                        <select class="form-control" id="playlistSelect" required>
                            <option value="" disabled selected>Pilih Playlist</option>
                            <option value="Playlist1">Playlist1</option>
                            <option value="Playlist2">Playlist2</option>
                        </select>
                    </div>
                </form>
            </div>
            <div>
                <div class="text-center">
                    <div class="btn-toolbar justify-content-center" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <button class="btn btn-primary btn-action" onclick="addToPlaylistSubmit()">Tambah</button>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-center" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <button class="btn btn-secondary btn-action mt-2 mb-4" data-dismiss="modal">Kembali</button>
                        </div>
                    </div>
                </div>
            </div>              
        </div>
    </div>
</div>    

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Berhasil!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Berhasil menambahkan Lagu dengan judul 'Song1' ke 'Playlist1'!</p>
            </div>
            <div>
                <div class="text-center">
                    <div class="btn-toolbar justify-content-center" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <button class="btn btn-primary btn-action" onclick="goToPlaylist()">Ke Playlist</button>
                        </div>
                    </div>
                    <div class="btn-toolbar justify-content-center" role="toolbar">
                        <div class="btn-group mr-2" role="group">
                            <button class="btn btn-secondary btn-action mt-2 mb-4" data-dismiss="modal">Kembali</button>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</div> 

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<script>
    function downloadSong() {
        const downloadForm = document.createElement('form');
        downloadForm.method = 'POST';
        downloadForm.action = '{% url "play_song:download_song" id_song %}';
        const csrfToken = document.createElement('input');
        csrfToken.type = 'hidden';
        csrfToken.name = 'csrfmiddlewaretoken';
        csrfToken.value = '{{ csrf_token }}';
        downloadForm.appendChild(csrfToken);
        document.body.appendChild(downloadForm);
        downloadForm.submit();
    }

    function openAddToPlaylistModal() {
        $('#addToPlaylistModal').modal('show');
    }

    function addToPlaylistSubmit() {
        let playlist = document.getElementById("playlistSelect").value;
        if (!playlist) {
            alert("Field Playlist harus diisi!");
            return false;
        }

        $('#addToPlaylistModal').modal('hide');

        $('#successModal').modal('show');

        return false;
    }

    function updateProgressField() {
        document.getElementById('progressField').value = document.getElementById('progressSlider').value;
    }

    function updateProgressSlider() {
        document.getElementById('progressSlider').value = document.getElementById('progressField').value;
    }

    function submitProgressForm() {
        const progress = document.getElementById('progressSlider').value;
        if (progress > 70) {
            document.getElementById('hiddenProgressField').value = progress;
            document.getElementById('progressForm').submit();
        }
    }
</script>

{% endblock content %}