{% extends 'base.html' %} 

{% block content %}
{% include 'navbar.html' %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Create Album</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background-color: rgb(247, 231, 206);
    }
    .custom-padding {
        padding-right: 10px;
    }
    .name-class {
        margin-right: 10px;
    }
    .background-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    table {
        margin: auto; 
        width: 80%; 
        border-collapse: collapse;
    }
    table, th, td {
        border: 1.5px solid #dedddd;
        vertical-align: middle;
        padding: 10px;
        font-weight: 600;
    }
    th {
        background-color: #151414;
        color: #f7f7f7;
        text-align: center;
        font-weight: bold;
    }
    td {
        vertical-align: top;
    }
    tr {
        background-color: #f2f2f2;
        text-align: center;
    }
    .centered-text {
        text-align: center;
    }

    h1.centered-text {
        margin-bottom: 50px; 
        margin-top: 50px;
    }

    form {
        margin-top: 20px;
    }

    form td {
        text-align: right;
        padding-right: 20px; 
    }

    form td input[type="text"],
    form td select {
        width: 300px; 
    }

    form td:last-child {
        text-align: left;
        padding-right: 0; 
    }
</style>

<h1 class="centered-text">CREATE ALBUM</h1>

<form method="POST" action="{% url 'kelola_album_song:list_album' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>Judul:</td>
            <td><input type="text" name="Judul"></td> 
        </tr>
        <tr>
            <td>Label:</td>
            <td>
                <select name="label">
                    {% for label in aos_data.labels %}
                        <option value="{{ label }}">{{ label }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>
     </table>
     <h1 class="centered-text">LAGU PERTAMA</h1>
    <table        
        <tr>
            <td>Judul:</td>
            <td><input type="text" name="judul_lagu"></td> 
        </tr>
        <tr>
            <td>Artist:</td>
            {% if 'Artis' in aos_data.user_role %}
            <td>{{ aos_data.artists.0 }}</td> 
            {% else %}
            <td>
                <select name="Artist">
                    {% for artist in aos_data.artists %}
                        <option value="{{ artist }}">{{ artist }}</option>
                    {% endfor %}
                </select>
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>Songwriter:</td>
            {% if 'Songwriter' in aos_data.user_role %}
            <td>{{ aos_data.songwriters.0 }}</td> 
            {% else %}
            <td>
                {% for songwriter in aos_data.songwriters %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="songwriter{{ forloop.counter }}" name="songwriters[]" value="{{ songwriter }}">
                    <label class="form-check-label" for="songwriter{{ forloop.counter }}">{{ songwriter }}</label>
                </div>
                {% endfor %}
            </td>
            {% endif %}
        </tr>
        <tr>
            <td>Genre:</td>
            <td>
                {% for genre in aos_data.genres %}
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="genre{{ forloop.counter }}" name="genre[]" value="{{ genre }}">
                    <label class="form-check-label" for="genre{{ forloop.counter }}">{{ genre }}</label>
                </div>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Durasi:</td>
            <td><input type="text" name="durasi"></td> 
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Submit"/>
            </td>
        </tr>
    </table>
</form>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
