{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Daftar Lagu</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background-color: rgb(247, 231, 206);
    }
    .custom-padding {
        padding-right: 10px;
    }
    .noto-serif {
        font-family: 'Noto Serif', serif;
    }
    .name-class {
        margin-right: 10px;
    }
    .background-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    table {
        margin: auto;
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1.5px solid #dedddd;
        vertical-align: middle;
        padding: 10px;
        font-weight: 600;
    }
    th {
        background-color: #151414;
        color: #f7f7f7;
        text-align: center;
        font-weight: bold;
    }
    td {
        vertical-align: top;
        text-align: center;
    }

    .action-buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    tr {
        background-color: #f2f2f2;
    }
    .centered-text {
        text-align: center;
    }

    h1.centered-text {
        margin-bottom: 30px;
        margin-top: 40px;
    }
</style>

<h1 class="centered-text">DAFTAR LAGU PADA ALBUM {{ album.judul }}</h1>

<table>
    <tr>
        <th>Judul</th>
        <th>Durasi</th>
        <th>Total Play</th>
        <th>Total Download</th>
        <th>Action</th>
    </tr>
    {% for song in songs %}
    <tr>
        <td>{{ song.Judul }}</td>
        <td>{{ song.Durasi }}</td>
        <td>{{ song.Total_Play }}</td>
        <td>{{ song.Total_Download }}</td>
        <td>
            <a href="#" class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal{{ song.id }}">Lihat Detail</a>
            <form method="post" action="{% url 'kelola_album_song:hapus_lagu' song.id %}" style="display: inline;">
                {% csrf_token %}
                <input type="hidden" name="id_album" value="{{ song.id_album }}">
                <button type="submit" class="btn btn-danger btn-sm">Hapus</button>
            </form>
        </td>
    </tr>
    <div class="modal fade" id="modal{{ song.id }}" tabindex="-1" role="dialog" aria-labelledby="modalLabel{{ song.id }}" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modalLabel{{ song.id }}">Detail Lagu</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p><strong>Judul:</strong> {{ song.Judul }}</p>
                    <p><strong>Durasi:</strong> {{ song.Durasi }} menit</p>
                    <p><strong>Total Play:</strong> {{ song.Total_Play|default_if_none:"0" }} times</p>
                    <p><strong>Total Download:</strong> {{ song.Total_Download|default_if_none:"0" }} times</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</table>

<div class="centered-text" style="margin-top: 40px;">
    <a href="{% url 'kelola_album_song:list_album' %}" class="btn btn-danger btn-sm">Kembali ke List Album</a>
</div>
<br />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>

{% endblock content %}
