{% extends 'base.html' %}

{% block content %}
    <style>
        .navContent {
            display: flex;
        }

        .buttonnavContent {
            padding-left: 2rem;
            margin: 5px;
        }
    </style>
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navContent">
            <a class="navbar-brand" href="">Marmut</a>
            <div class="buttonnavContent">
                <button class="btn btn-outline-dark" onclick="toDashboard()">Dashboard</button>
                <button class="btn btn-outline-dark" onclick="toAlbumSongs()">Cek Royalti</button>
                <button class="btn btn-outline-dark" onclick="toSearchPage()">Search</button>
                <button class="btn btn-outline-dark" onclick="toRoyalti()">Logout</button>
            </div>
            </div>
        </div>
    </nav>
    <script>
        function toDashboard() {
            window.location.href = "{% url 'main:dashboard_penggunabiasa' %}";
        }

        function toAlbumSongs() {
            window.location.href = "{% url 'kelola_album_song:list_album' %}";
        }

        function toRoyalti() {
            window.location.href = "{% url 'kelola_album_song:cek_royalti' %}";
        }

        function toSearchPage() {
            window.location.href = "{% url 'main:search_bar' %}";
        }

        function logoutButton() {
            window.location.href = "{% url 'main:logout' %}";
        }
    </script>
{% endblock %}