{% extends 'base.html' %}

{% block content %}
    <style>
        .navContent {
            display: flex;
        }

        .buttonnavContent {
            padding-left: 2rem;
            margin: 5px;
        }
    </style>
    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid">
            <div class="navContent">
            <a class="navbar-brand" href="">Marmut</a>
            <div class="buttonnavContent">
                <button class="btn btn-outline-dark" onclick="toDashboard()">Dashboard</button>
                <button class="btn btn-outline-dark" onclick="toChart()">Chart</button>
                <button class="btn btn-outline-dark" onclick="toKelolaPlaylist()">Kelola Playlist</button>
                <button class="btn btn-outline-dark" onclick="toSubscribe()">Langganan Paket</button>
                <button class="btn btn-outline-dark" onclick="toDownloadedSongs()">Downloaded songs</button>
                <button class="btn btn-outline-dark" onclick="logoutButton()"></button>>Logout</button>
            </div>
            </div>
            <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
        </form>
        </div>
    </nav>

    <script>
        function toDashboard() {
            window.location.href = "{% url 'main:dashboard_penggunabiasa' %}";
        }

        function toChart() {
            window.location.href = "{% url 'melihat_chart:show_daily' %}";
        }

        function toKelolaPlaylist() {
            window.location.href = "{% url 'kelola_playlist:playlist' %}";
        }

        function toDownloadedSongs() {
            window.location.href = "{% url 'main:downloaded_songs' %}";
        }

        function toSubscribe() {
            window.location.href = "{% url 'main:langganan_paket' %}";
        }

        function logoutButton() {
            window.location.href = "{% url 'main:logout' %}";
        }
    </script>
{% endblock %}