{% extends 'base.html' %}

{% block content %}
    <style>
        .navContent {
            display: flex;
        }

        .buttonnavContent {
            padding-right: 2rem; 
            margin: 5px;
        }
    </style>
    </style>

    <nav class="navbar" style="background-color: #e3f2fd;">
        <div class="container-fluid" style="margin-left: 1rem;">
            <div class="navContent">
                <a class="navbar-brand" href="">Marmut</a>
                <div class="buttonnavContent">
                    {% if not request.session.roles %}
                        <button class="btn btn-outline-dark" onclick="toLogin()">Login</button>
                        <button class="btn btn-outline-dark" onclick="toRegister()">Registrasi</button>
                    {% else %}
                        <button class="btn btn-outline-dark" onclick="toDashboard()">Dashboard</button>
                        {% if 'Label' not in request.session.roles %}
                            <button class="btn btn-outline-dark" onclick="toChart()">Chart</button>
                            <button class="btn btn-outline-dark" onclick="toKelolaPlaylist()">Kelola Playlist</button>
                            <button class="btn btn-outline-dark" onclick="toSubscribe()">Langganan Paket</button>
                        {% endif %}
                        {% if 'Premium' in request.session.roles %}
                            <button class="btn btn-outline-dark" onclick="toDownloadedSongs()">Downloaded songs</button>
                        {% endif %}
                        {% if 'Podcaster' in request.session.roles %}
                            <button class="btn btn-outline-dark" onclick="toKelolaPodcast()">Kelola Podcast</button>
                        {% endif %}
                        {% if 'Artis' in request.session.roles or 'Songwriter' in request.session.roles %}
                            <button class="btn btn-outline-dark" onclick="toAlbumSongs()">Kelola Album & Songs</button>
                        {% endif %}
                        {% if 'Podcaster' in request.session.roles %}
                            <button class="btn btn-outline-dark" onclick="toAlbumLabel()">Kelola Album</button>
                        {% endif %}
                        {% if 'Artis' in request.session.roles or 'Songwriter' in request.session.roles %}
                            <button class="btn btn-outline-dark" onclick="toRoyalti()">Cek Royalti</button>
                        {% endif %}
                            <button class="btn btn-outline-dark" onclick="toSearchPage()">Search</button>
                            <button class="btn btn-outline-dark" onclick="logoutButton()">Logout</button>
                    {% endif %}
                </div>
                </div>
            </div>
    </nav>

<script>
    function toLogin() {
        window.location.href = "{% url 'main:login' %}";
    }

    function toRegister() {
        window.location.href = "{% url 'main:register' %}"
    }

    function toDashboard() {
        window.location.href = "{% url 'main:dashboard' %}";
    }

    function toChart() {
        window.location.href = "{% url 'melihat_chart:show_daily' %}";
    }
    
    function toSearchPage() {
        window.location.href = "{% url 'main:search_bar' %}";
    }

    function toKelolaPlaylist() {
        window.location.href = "{% url 'kelola_playlist:playlist' %}";
    }

    function toSubscribe() {
        window.location.href = "{% url 'main:langganan_paket' %}";
    }
    
    function toDownloadedSongs() {
        window.location.href = "{% url 'main:downloaded_songs' %}";
    }

    function toKelolaPodcast() {
        window.location.href = "{% url 'kelola_podcast:list_podcast' %}";
    }

    function toAlbumSongs() {
        window.location.href = "{% url 'kelola_album_song:list_album' %}";
    }

    function toAlbumLabel() {
        window.location.href = "{% url 'kelola_album_song:list_album_label' %}";
    }

    function toRoyalti() {
        window.location.href = "{% url 'kelola_album_song:cek_royalti' %}";
    }

    function logoutButton() {
        window.location.href = "{% url 'main:logout' %}";
    }
</script>
{% endblock %}