{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background-color: rgb(247, 231, 206);
    }
    .custom-padding {
        padding-right: 10px;
    }
    .name-class {
        margin-right: 10px;
    }
    .background-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    .form-group {
        margin-bottom: 15px;
    }
    .form-label {
        font-weight: bold;
    }
</style>

<div class="container mt-5 background-container">
    <h1 class="mb-3 centered-text">Tambah Lagu</h1>
    <form method="post" action="{% url 'kelola_playlist:add_song_to_playlist' id_playlist %}">
        {% csrf_token %}
        <input type="hidden" name="id_playlist" value="{{ id_playlist }}">
        <div class="form-group">
            <label for="song" class="form-label">Pilih Lagu:</label>
            <select class="form-control" id="song" name="song_id" required>
                {% for song in songs %}
                    <option value="{{ song.id }}">{{ song.judul }} by {{ song.artist }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Tambah</button>
    </form>
</div>

{% endblock content %}