<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Tambah Playlist</title>
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap" rel="stylesheet">

<style>
    html, body {
        height: 100%;
        margin: 0;
        padding: 0;
    }
    body {
        background-color: rgb(247, 231, 206);
    }
    .custom-padding {
        padding-right: 10px;
    }
    .noto-serif {
        font-family: 'Noto Serif', serif;
    }
    .name-class {
        margin-right: 10px;
    }
    .background-container {
        background-color: #ffffff;
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
    }
    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1.5px solid #dedddd;
        vertical-align: middle;
        padding: 10px;
        font-weight: 600;
    }
    th {
        background-color: #151414;
        color: #f7f7f7;
        text-align: center;
        font-weight: bold;
    }
    td {
        vertical-align: top;
    }
    tr{
        background-color: #f2f2f2;
    }
    .centered-text {
            text-align: center;
        }
</style>

<nav class="navbar navbar-expand-lg">
    <span class="navbar-brand mb-0 h1" href="#" style="padding-left: 10px; padding-right: 10px;"><strong>Marmut</strong></span>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        </li>
    </ul>
</nav>

<div class="container mt-5 background-container">
    <h1 class="mb-3 centered-text">User Playlist</h1>
    <table>
        <thead>
            <tr>
                <th>Judul</th>
                <th >Jumlah Lagu</th>
                <th>Total Durasi</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody class="table-group-divider last-table">
            <tr>
                <td>Playlist1</td>
                <td>5</td>
                <td>15 menit</td>
                <td>
                    <a href="#" class="btn btn-info btn-action">Detail</a>
                    <a href="#" class="btn btn-warning btn-action">Ubah</a>
                    <a href="#" class="btn btn-danger btn-action">Hapus</a>
                </td>
            </tr>
            <tr>
                <td>Playlist2</td>
                <td>2</td>
                <td>4 menit</td>
                <td>
                    <a href="#" class="btn btn-info btn-action">Detail</a>
                    <a href="#" class="btn btn-warning btn-action">Ubah</a>
                    <a href="#" class="btn btn-danger btn-action">Hapus</a>
                </td>
            </tr>
            <tr>
                <td>Playlist3</td>
                <td>35</td>
                <td>105 menit</td>
                <td>
                    <a href="#" class="btn btn-info btn-action">Detail</a>
                    <a href="#" class="btn btn-warning btn-action">Ubah</a>
                    <a href="#" class="btn btn-danger btn-action">Hapus</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a href="form_playlist.php" class="btn btn-success mt-3">Tambah Playlist</a>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>