{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<style>
    .outerDiv {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        text-align: center;
    }
</style>
<div class="outerDiv">
    <div>
        <h2 style="text-align: center;padding-bottom: 1rem;">Downloaded Songs</h2>
        {% if data %}
        <table class="table">
            <thead>
                <tr>
                    <th>Judul Lagu</th>
                    <th>Oleh</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for d in data %}
                <tr data-id="{{ d.id }}">
                    <td>{{ d.judul }}</td>
                    <td>{{ d.nama }}</td>
                    <td>
                        <a href="{% url 'play_song:song' d.id %}" class="btn btn-info btn-action">Lihat</a>
                        <button class="btn btn-outline-danger hapus" onclick="deleteSong('{{d.id}}','{{d.nama}}')">Hapus</button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <h4>Belum ada lagu yang didownload</h4>
        {% endif %}
        <button class="btn btn-outline-dark" onclick="backButton()">Kembali</button>
    </div>
</div>
<script>
    function backButton() {
        window.location.href = "{% url 'main:dashboard_penggunabiasa' %}";
    }

    function deleteSong(songId, songTitle) {
        fetch(`/delete_song/${songId}/`, {
            method: 'DELETE',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}'
            }
        })
        .then(response => {
            if (response.ok) {
                alert("Berhasil menghapus Lagu dengan judul " + songTitle + " dari daftar unduhan!");
                document.querySelector(`tr[data-id="${songId}"]`).remove();
            } else {
                alert("Gagal menghapus lagu.");
            }
        })
        .catch(error => {
            console.error("Error deleting song:", error);
            alert("Terjadi kesalahan saat menghapus lagu.");
        });
    }

    document.addEventListener("DOMContentLoaded", function() {
        var deleteButtons = document.querySelectorAll(".hapus");

        deleteButtons.forEach(function(button) {
            button.addEventListener("click", function() {
                var row = this.closest("tr");
                var songId = row.getAttribute("data-id");
                var songTitle = row.querySelector(".judul").value;
                deleteSong(songId, songTitle);
            });
        });
    });
</script>
{% endblock content %}
