{% extends 'base.html' %}


{% block content %}
<style>
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .table-transaksi {
        margin-top: 5rem;
    }
</style>
{% include 'navbar.html' %}
<div class="content">
    <h2 style="text-align: center;padding-top: 3rem;">RIWAYAT TRANSAKSI PAKET</h2>
    <div class="table-transaksi">
        <table class="table">
            <th>Jenis</th>
            <th>Tanggal Dimulai</th>
            <th>Tanggal Berakhir</th>
            <th>Metode Pembayaran</th>
            <th>Nominal</th>
            <tr>
                <td>{{ jenis }}</td>
                <td>{{ tanggal_mulai }}</td>
                <td>{{ tanggal_akhir }}</td>
                <td>{{ metode_pembayaran }}</td>
                <td>Rp {{ nominal }}</td>
            </tr>
        </table>
    </div>
    <button class="btn btn-outline-dark" onclick="toSubscribe()">Kembali</button>
</div>

<script>
    function toSubscribe() {
        window.location.href = "{% url 'main:langganan_paket' %}";
    }
</script>
{% endblock content %}