{% extends 'base.html' %}

{% block meta %}
    <title>Search Page</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<style>
    .result-box {
        width: 40vw;
        height: 50vh;
        border: 3px solid #ccc;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        text-align: center;
        overflow-y: auto;
        overflow-x: hidden;
    }
    .table {
        width: 100%;
        margin: auto;
    }
</style>

<div class="d-flex justify-content-center flex-column" style="min-height: max-content; min-width: max-content; margin-top: 2rem;">
    <form class="d-flex flex-column justify-content-center" style="width: fit-content; margin: auto;" role="search" method="GET" action="{% url 'main:search_bar' %}">
        <h4 style="text-align: center; margin-bottom: 0.5rem;">Search Here!</h4>
        <input class="form-control me-2" style="margin-bottom: 0.5rem;" type="search" name="search" placeholder="Search" aria-label="Search" value="{{ search_query }}">
        <button class="btn btn-outline-dark" type="submit">Search</button>
    </form>
    
    <div class="d-flex justify-content-center flex-row" style="min-height: max-content; min-width: max-content;">
        <div class="d-flex justify-content-center flex-column" style="padding: 0;">
            {% if search_query %}
            <h5 style="text-align: center; margin-top: 1rem;">
                Hasil Pencarian "{{ search_query }}"
            </h5>
            {% else %}
            <h5 style="text-align: center; margin-top: 1rem;">Masukkan input di kolom pencarian!</h5>
            {% endif %}
            <div class="result-box">
                {% if data %}
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tipe</th>
                                <th>Judul</th>
                                <th>Oleh</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for d in data %}
                                <tr>
                                    <td>{{ d.jenis }}</td>
                                    <td>{{ d.judul }}</td>
                                    <td>{{ d.nama }}</td>
                                    <td>
                                        <a href="#" class="btn btn-action btn-outline-dark">Lihat</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    {% if search_query %}
                        <p>Maaf, pencarian untuk "{{ search_query }}" tidak ditemukan</p>
                    {% endif %}

                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
